@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  background-color: bg-gray-100;
  background-image: url('../images/leaves.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
